{% extends "layout/base.html" %}
{% load static %}

{% block 'title' %}Home{% endblock 'title' %}

{% block 'content' %}
{% include "include/admin_navbar.html" %}
{% include "layout/admin_toast.html" %}

<div class="min-h-screen bg-cover bg-center bg-no-repeat relative transition-all duration-300"
     style="background-image: url('{% static 'picture/home/home.png' %}');">

  <div class="absolute inset-0 bg-white/20 dark:bg-black/50 transition-colors duration-300"></div>

</div>

{% endblock 'content' %}